/* This will contain the styling for your pages. Both HTML files can link to the same css file. */

h1 {
  text-align: center;
}

p {
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

/* form {
} */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  text-align: center;
}

.valid {
  background-color: rgb(31, 148, 31);
}

.invalid {
  background-color: rgb(230, 66, 66);
}

input {
  align-items: center;
}

.hidden {
  display: none;
  /* text-align: center; */
}

.unhidden {
  width: 190px;
  display: inline-block;
  text-align: center;
}
